.section-busqueda {
    display: flex;
    flex-flow: column wrap;
    background: var(--gris-oscuro)
}

    .contiene-busqueda {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 6em 1em 2em 1em;
    }

        .contiene-busqueda ul {
            list-style-type: none;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: space-between
        }

            .contiene-busqueda ul li {
                display: inline-block;
                width: 300px;
                display: flex;
                flex-flow: column wrap;
                justify-content: flex-end;
                margin: 0 0 2em 0;
                border-radius: 5px 5px 0 0;
                overflow: hidden
        
            }
        
            .contiene-busqueda ul li h3 {
                padding: 1em 0 0 0;
                color: var(--amarillo)
            }

            .contiene-busqueda ul li p {
                font-size: .8rem;
                font-weight: 200;
                padding: 1em 0;
                overflow-wrap: break-word;
                text-align: justify;
                color: var(--blanco)
            }
        
                button {
                    outline: none;
                    border: none;
                    background: transparent;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 800;
                    font-size: 1rem;
                    width: 100%;
                    padding: 1em 3em;
                    margin: 1em 0 3em 0;
                    background: var(--azul);
                    color: var(--gris-oscuro);
                    cursor: pointer;
                    border-radius: 3px;
                    transition: .3s
                }
        
                    button:hover {
                        background: var(--amarillo);
                    }