.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px
}
    .capa-header {
        width: 100%;
        background: linear-gradient(to top, rgba(51,51,51,0.9) 0%, rgba(51,51,51,1) 100%);
    }

    .contiene-header {
        max-width: 1200px;
        height: 100vh;
        margin: 0 auto;
        padding: 4em 0 0 0;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between
    }

        .cartel {
            width: 30%;
            overflow: hidden;
            border-radius: 5px
        }

            .cartel img {
                width: 100%;
                height: auto;
                display: block
            }

        .pelicula {
            width: 65%;
            display: flex;
            flex-flow: column wrap
        }

            .valoracion {
                width: 100%;
            }

                .valoracion img {
                    width: 25px;
                    height: auto;
                    margin: 0 .5em 0 0
                }

        .descripcion {
            color: var(--gris-claro)
        }

            .descripcion h1 {
                font-size: 3rem;
                line-height: 4rem
            }

            .descripcion h3 {
                font-size: 1rem;
                font-weight: 400;
                font-style: italic
            }

            .descripcion p {
                font-size: 1rem;
                line-height: 1.6rem
            }

            .linea {
                height: 1px;
                background: var(--gris-claro);
                width: 30%;
                margin: 1em 0
            }

            .btn-pelicula {
                -webkit-appearance: none;
                padding: 1em 2em;
                margin: 2em 1em 0 0;
                font-weight: 800;
                border: none;
                color: var(--gris-oscuro);
                background: var(--azul);
                border-radius: 3px;
                cursor: pointer;
                outline: none
            }

                .btn-pelicula:hover {
                    background: var(--amarillo);
                    transition: all ease .2s
                }



    
.nav {
    width: 100%;
    padding: 2em 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20
}

.contiene-nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between
}

    .logo {
        cursor: pointer
    }

        .logo img {
            width: 150px;
            height: auto
        }

    .user {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
    }

    .user p {
        color: var(--gris-claro);
        padding: 0 1em 0 0
    }

        .foto-perfil {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            overflow: hidden;
            cursor: pointer;
            transition: all ease .2s
        }

            .foto-perfil img {
                width: 100%;
                height: auto;
                display: block
            }

            .foto-perfil:hover {
                filter: grayscale();
                border-radius: 20px;
                transition: all ease .2s
            }