<section class="section-dashboard">
  <div class="header-main">
      <span><h2><strong>Panel de administración </strong></h2></span>
      <span id="date"></span>
  </div>
  <div class="boxes">
  <article class="article">
      <h2><strong>Usuarios</strong></h2>
       
          <div class="user-ini-panel1">
                  <div class="user-ini-img1">
                  </div>    
                  <div class="user-ini-name1">
                      <span>Celia Casado</span>
                      <span class="user1">Creado hace 23 días.</span>
                  </div>
          </div>
          <div class="user-ini-panel1">
                     <div class="user-ini-img2">
                     </div>    
                  <div class="user-ini-name1">
                      <span>Carlos San Juan</span>
                      <span class="user1">Creado hace 21 días.</span>
                  </div>
          </div>
          

  </article>
  <article class="article">
      <h2><strong>Peliculas</strong></h2>
      <div class="film-ini-panel">
              <div class="film-ini-icon">
                      <i class="fas fa-film grey"></i>
                  </div>    
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="film-ini-name1">
                      <span>Glass(2019)</span>
                      <span class="user1">creado en la ultimas 24 horas</span>
                  </div>
                  
      </div>
      <div class="film-ini-panel">
              <div class="film-ini-icon">
                      <i class="fas fa-film grey"></i>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;    
                  <div class="film-ini-name1">
                      <span>JOKER</span>
                      <span class="user1">creado en la ultimas 24 horas</span>
                  </div>
                  
      </div>
  </article>
  </div>
  <div class="boxes">
  <article class="article">
      <h2><strong>Facturas</strong></h2>
      <div class="invoice-ini-panel">
                  <div class="invoice-ini-icon">
                          <i class="fas fa-file-invoice-dollar"></i>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;   
                  <div class="invoice-ini-name1">
                      <span>Nº2131XXX213321344</span>
                      <span>factura de Celia Casado</span>
                  </div>
                  
      </div>
      <div class="invoice-ini-panel">
              <div class="invoice-ini-icon">
                      <i class="fas fa-file-invoice-dollar"></i>
              </div>    
              &nbsp;&nbsp;&nbsp;&nbsp;
              <div class="invoice-ini-name1">
                  <span>Nº2131XXX213321345</span>
                  <span>factura de Carlos San Juan</span>
              </div>
              
  </div>
  </article>
  <article class="article">
      <h2><strong>BB.DD.</strong></h2>
      <div>
          <span>Buscar una pelicula</span>
              <div class="search-bbdd-film">
              
                  <input type="text" name="search-bbdd-film" id="search-film" minlength="50" maxlength="255">
                  <button type="submit">Buscar</button>
              </div>
      </div>
  </article>
  </div>
</section>
