<!-- SECTION CON IMAGEN DE FONDO -->
<section class="section-landing">
  <!-- BLOQUE CON EL CONTENIDO Y OVERLAY -->
  <div class="contiene-landing">
    <img src="../../assets/landing/logo-landing.svg" alt="Saphire">
    <h1>¿AÚN NO TIENES SAPHIRE?</h1>
    <h2>REGÍSTRATE Y DISFRUTA DEL MEJOR CATÁLOGO</h2>
    <button (click)="iraLogin()" id="login" class="login">INICIAR SESIÓN</button>
    <button (click)="iraRegistro()" id="btn-registrar" class="btn-registrar">REGISTRARME</button>
  </div>
  <!-- FIN BLOQUE CON EL CONTENIDO Y OVERLAY -->
</section>
<!-- FIN SECTION CON IMAGEN DE FONDO -->
 