<aside>
  <ul>
    <li><span><i class="fal fa-2x fa-home"></i>&nbsp;&nbsp;&nbsp;<a routerLink="/dashboard/homedash" routerLinkActive="active">HOME</a></span></li>
    <li><span><i class="fal fa-2x fa-user-alt"></i>&nbsp;&nbsp;&nbsp;<a (click)="getUsersPanel()" routerLink="/dashboard/users" routerLinkActive="active">USUARIOS</a></span></li>
    <li><span><i class="fal fa-2x fa-video"></i>&nbsp;&nbsp;&nbsp;<a routerLink="/dashboard/videos" routerLinkActive="active">PELICULAS</a></span></li>
    <li><span><i class="fal fa-2x fa-file-invoice"></i>&nbsp;&nbsp;&nbsp;<a href="#">FACTURAS</a></span></li>
    <!--<li><span><i class="fal fa-2x fa-database"></i>&nbsp;&nbsp;&nbsp;<a href="#">DB</a></span></li>-->
  </ul>
</aside>
